<div id="commentModal" data-reveal class="reveal-modal" aria-labelledby="Commentaire" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Un commentaire ?</h2>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>

    <form method="POST">
        <div class="row">
            <div class="large-12 columns">
                <label>Commentaire
                    <textarea required name="comment" id="comment"></textarea>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <input type="hidden" name="offer" />
                <input type="submit" class="button expand" value="Envoyer" />
            </div>
        </div>
    </form>
</div>
